extends layout
block title
	//- TODO: typography
	| #{location_name}
block content
	//- TODO: typography
	.page-header
		h1 #{ location_name }#{' '}
			small #{ area_name }
	if pic != null
		img.img-polaroid(src=pic, style="float: right; margin-left: 1em; margin-bottom: 1em;")
	div
		//- TODO: {{ description | tf | nl2p | nl2br }}
		p #{ description }
	div
		p(style="line-height: 2.5em;")
			each i in ways
				//- TODO: typography
				a.pjax.btn(href="/action/go/"+i.to) #{i.name}
				| #{'\n'}
	div
		p
			small
				case players_list.length
					when 0
						| На этой локации больше никого нет
					when 1
						| Рядом с вами стоит#{' '}
					default
						| Рядом с вами стоят#{' '}
				each i,index in players_list
					| #{' '}
					a.pjax(href="/profile/id/"+i.id+"/") #{i.name}
					if index == players_list.length-2
						| #{' '}и
					if index < players_list.length-2
						| ,
				| #{'.'}
				if players_list.length >= 15
					| #{' '}И откуда здесь столько народа?
		p
			small
				if monsters_list.length > 0
					| Монстры:
					each i,index in monsters_list
						| #{' '}#{i.name}
						if index < monsters_list.length-1
							| ,
					| #{'.'}
				else
					| На этой локации нет монстров.
		p
			small
				if autoinvolved_fm == true
					b Вас атаковали!
		p
			small
				if fight_mode == true
					a.pjax(href="/action/escape") Свалить
				else
					a.pjax(href="/action/attack") Атаковать
	div(style="clear: both;")
