mixin tr_td_ch(name, value)
	tr
		td= name
		td= value
			//- | #{' '}
			//- a.btn.btn-mini(href='javascript://') &plus;

extends layout
block title
	| Профиль игрока #{nickname}
block content
	.page-header
		h1 #{nickname}#{' '}
			small Уровень #{level}, ##{id}
			| #{' '}
			if profileIsMine
				span.label Это вы
	.row
		.span5
			h3 Здоровье
			.progress
				.bar.bar-success(style='width: '+health_percent+'%;')
			| #{ health }/#{ health_max }
			h3 Мана
			.progress
				.bar(style='width: '+mana_percent+'%;')
			| #{ mana }/#{ mana_max }
			h3 Опыт
			.progress.bar-warning
				.bar(style='width: '+exp_percent+'%;')
			| #{ exp }/#{ exp_max }
		.span1
		.span6
			h3 Характеристики
			table.table.table-striped.table-hover
				+tr_td_ch('Энергия', energy)
				+tr_td_ch('Сила', power)
				+tr_td_ch('Защита', defense)
				+tr_td_ch('Ловкость', agility)
				+tr_td_ch('Точность', accuracy)
				+tr_td_ch('Интеллект', intelligence)
				+tr_td_ch('Инициатива', initiative)
