{% extends "layout.twig" %}

{% block title %}{{ location_name }}{% endblock title %}

{% block content %}
			<div class="page-header"><h1>{{ location_name }} <small>{{ area_name }}</small></h1></div>

			{% if pic is defined %}<img src="{{ pic }}" class="img-polaroid" style="float: right;" />{% endif %}

			<p>{{ description|tf }}</p>

			<p>
			{% for i in ways %}
				<a class="btn" href="index.php?instance=go&to={{ i.to }}">{{ i.name }}</a>
			{% endfor %}
			</p>

			<br />

			<p><small>
			{% if players_list|length > 0 %}
			На этой локации находятся:
			{% for i in players_list %}
				<a href="index.php?instance=profile&id={{ i.id }}">{{ i.name }}</a>{% if not loop.last %}, {% endif %}
			{% endfor %}
			{% else %}
			На этой локации больше никого нет.
			{% endif %}
			</small></p>

			<p><small>
			{% if monsters_list|length > 0 %}
			Монстры на этой локации:
			{% for i in monsters_list %}
				<a href="#">{{ i.name }}</a>{% if not loop.last %}, {% endif %}
			{% endfor %}
			{% else %}
			На этой локации нет монстров.
			{% endif %}
			</small></p>

			<div style="clear: both;"></div>
{% endblock content %}
