{% extends "layout.twig" %}

{% block title %}Профиль игрока {{ nickname }}{% endblock title %}

{% block content %}
			<div class="page-header"><h1>{{ nickname }} <small>Уровень {{ level }}, #{{ id }}</small></h1></div>

			<div class="row">
				<div class="span4">
					<h4>Здоровье</h4>
					<div class="progress">
						<div class="bar bar-success" style="width: {{ health_percent }}%;"></div>
					</div>
					{{ health }}/{{ health_max }}
				</div>
				<div class="span4">
					<h4>Мана</h4>
					<div class="progress">
						<div class="bar" style="width: {{ mana_percent }}%;"></div>
					</div>
					{{ mana }}/{{ mana_max }}
				</div>
				<div class="span4">
					<h4>Опыт</h4>
				</div>
			</div>

			<div class="row" style="margin-top: 2em;">
				<div class="span12">
					<h4>Характеристики</h4>
				</div>
			</div>

			<table class="table table-striped table-hover">
				<tr>
					<td>Сила</td>
					<td>{{ power }}&nbsp;&nbsp;<a href="#" class="btn btn-mini">&plus;</a></td>
				</tr>
				<tr>
					<td>Ловкость</td>
					<td>{{ agility }}&nbsp;&nbsp;<a href="#" class="btn btn-mini">&plus;</a></td>
				</tr>
				<tr>
					<td>Выносливость</td>
					<td>{{ endurance }}&nbsp;&nbsp;<a href="#" class="btn btn-mini">&plus;</a></td>
				</tr>
				<tr>
					<td>Интеллект</td>
					<td>{{ intelligence }}&nbsp;&nbsp;<a href="#" class="btn btn-mini">&plus;</a></td>
				</tr>
				<tr>
					<td>Мудрость</td>
					<td>{{ wisdom }}&nbsp;&nbsp;<a href="#" class="btn btn-mini">&plus;</a></td>
				</tr>
				<tr>
					<td>Воля</td>
					<td>{{ volition }}&nbsp;&nbsp;<a href="#" class="btn btn-mini">&plus;</a></td>
				</tr>
			</table>

			<p>exp {{ exp }}/{{ exp_max }} {{exp_percent}}%</p>
			<p>effects: {{ effects }}</p>
{% endblock content %}
