extends layout
block title
	| #{user.username}
block content
	.page-header
		h1 #{user.username}
	.row
		.col-sm-6
			if characters.length > 0
				//- TODO: местоположение каждого
				//- TODO: дата создания?
				p Персонажи на этом аккаунте:
				each x in characters
					p
						if (!!character) && (x.id === character.id)
							div.pull-right
								a.confirm.btn.btn-danger.btn-xs(href='/action/deleteCharacter/'+x.id) Удалить
							i.glyphicon.glyphicon-menu-right
							| #{' '}
							a.pjax(href='/character/'+x.name+'/')
								b #{x.name}
							| &nbsp;&nbsp;
							span.text-muted
								| #{x.displayRace} 1-го уровня
						else
							div.pull-right
								a.pjax.btn.btn-default.btn-xs(href='/action/switchCharacter/'+x.id) Переключиться
								| #{' '}
								a.confirm.btn.btn-danger.btn-xs(href='/action/deleteCharacter/'+x.id) Удалить
							i.glyphicon.glyphicon-user
							| #{' '}
							a.pjax(href='/character/'+x.name+'/')
								| #{x.name}
							| &nbsp;&nbsp;
							span.text-muted
								| орк 1-го уровня
				p
					a.pjax(href='/newCharacter/')
						i.glyphicon.glyphicon-plus
					| #{' '}
					a.pjax(href='/newCharacter/')
						| Создать ещё одного
			else
				p Персонажей пока нет.
				p
					a.pjax.btn.btn-primary(href='/newCharacter/')
						i.glyphicon.glyphicon-plus
						| #{' '}Создать
		.col-sm-1
		.col-sm-5
			p
				.alert.alert-info(role='alert')
					| Это безлимитный аккаунт, его не нужно оплачивать.
