mixin monsters_list(mosters)
	each i,index in mosters
		| #{' '}
		a.pjax(href = '/monster/'+i.id+'/')= i.name
		if index < mosters.length-1
			| ,

extends layout
block title
	//- TODO: typography
	| #{location.title}
block content
	//- TODO: typography
	.page-header
		h1 #{ location.title }#{' '}
			small #{ area.title }
	if location.pic != null
		img.img-thumbnail(src=location.pic, style="float: right; margin-left: 1em; margin-bottom: 1em;")
	if character.fight_mode == false
		div(style='max-width: 50em')
			//- TODO: {{ description | tf | nl2p | nl2br }}
			//- p #{ description }
			each i in location.description.split('\n\n')
				if i.substring(0,5)=='*****'
					//- каменты имени Андрея
					//
						p= i
				else
					//- примитивная типографика
					- i = i.replace(/ - /g, ' — ')
					//- render
					p= i
		div.paragraph.button-row
			each i in location.ways
				//- TODO: typography
				+post('/action/go/', {to: i.target})
					button.btn.btn-default #{i.text}
				| #{'\n'}
	else
		h4 Здоровье
		.progress
			.progress-bar.progress-bar-success(style='width: '+character.health_percent+'%;')
				| #{ character.health }/#{ character.health_max }
		h4 Мана
		.progress
			.progress-bar(style='width: '+character.mana_percent+'%;')
				| #{ character.mana }/#{ character.mana_max }
	div
		p
			case players_list.length
				when 0
					| На этой локации больше никого нет
				when 1
					| Рядом с вами стоит#{' '}
				default
					| Рядом с вами стоят#{' '}
			each i,index in players_list
				| #{' '}
				a.pjax(href="/profile/"+i.name+"/") #{i.name}
				if index == players_list.length-2
					| #{' '}и
				if index < players_list.length-2
					| ,
			| #{'.'}
			if players_list.length >= 15
				| #{' '}И откуда здесь столько народа?
		p
			if monsters_list.length > 0
				if character.fight_mode == true
					| Монстры:
					each i,index in monsters_list
						div(style="float:left;")
							| #{i.name}:&nbsp;
						.progress(style="margin-bottom:5px;")
							.progress-bar.progress-bar-success(style='width: '+(Math.round(i.health*100/i.health_max))+'%;', role="progressbar", aria-valuenow=(Math.round(i.health*100/i.health_max)), aria-valuemin="0", aria-valuemax="100")
								| #{ i.health }/#{ i.health_max }
				else
					if monsters_list.not_in_fight.length > 0
						| Монстры:
						+monsters_list(monsters_list.not_in_fight)
						if monsters_list.in_fight.length > 0
							| , в бою с кем-то:
					else
						| Монстры уже с кем-то в бою:
					if monsters_list.in_fight.length > 0
						+monsters_list(monsters_list.in_fight)
					| #{'.'}
			else
				| На этой локации нет монстров.
		if character.fight_mode == true
			ol
				each p, index in battle.participants
					li
						| #{p.name} (#{p.player ? 'игрок' : 'монстр'}),
						| #{' '}
						if p.side == battle.our_side
							| #{ user.character_id==p.character_id ? 'вы' : 'союзник' }
						else
							| противник
							| #{' '}
							if !equipment.right_hand
								+post('/action/hit/', {id: p.character_id})
									button.btn.btn-default.btn-sm Ударить
							else
								+post('/action/hit/', {id: p.character_id, with_item_id: equipment.right_hand.id})
									button.btn.btn-default.btn-sm Ударить оружием
							if equipment.shield && equipment.shield.damage > 0
								| #{' '}
								+post('/action/hit/', {id: p.character_id, with_item_id: equipment.shield.id})
									button.btn.btn-default.btn-sm Щитом
		p
			small
				if character.autoinvolved_fm == true
					b Вас атаковали!
		if monsters_list.length > 0
			div.paragraph.button-row
				if character.fight_mode == true
					a.btn.btn-default.disabled Атака
					| #{' '}
					a.btn.btn-default.disabled Защита
					| #{' '}
					a.btn.btn-default.pjax(href='/inventory/') Инвентарь
					| #{' '}
					a.btn.btn-default.disabled Магия
					| #{' '}
					+post('/action/escape')
						button.btn.btn-default Сбежать
				else if monsters_list.not_in_fight.length > 0
					+post('/action/attack').pjax
						button.btn.btn-default Атаковать
	//- fit picture
	div(style="clear: both;")
