mixin slot(type, title)
	tr
		td.text-muted #{title}
		td
			// TODO: а может просто превратить весь эквипмент в хеш-массив?
			- var item = equipment[type] || equipment.find(function(x){ return x.type == type })
			if item
				p
					| #{ item.name }
					| #{' '}
					a.pjax-replace.btn.btn-default.btn-xs(href='/action/unequip/'+item.id) Снять
					br
					span.glyphicon.glyphicon-cog(title='Прочность')
					| #{' '}
					| #{ item.strength }/#{ item.strength_max }
					| #{' '}&nbsp;#{' '}
					span.glyphicon.glyphicon-stop(title='Покрытие тела')
					| #{' '}
					| #{ item.coverage }%
					if item.type === 'shield'
						- var size = 'средний'
						if item.coverage > 45
							- size = 'большой'
						if item.damage > 0
							- size = 'малый'
						| #{' '}
						span.text-muted (#{size})
					if item.damage > 0
						| #{' '}&nbsp;#{' '}
						span.glyphicon.glyphicon-tint(title='Бонус к урону при ударе')
						//- | #{' '}
						| #{ item.damage }
			else
				| -


extends layout
block title
	| Инвентарь
block content
	div.page-header
		h1 Инвентарь
	if character.fight_mode == true
		a.pjax.btn.btn-default.instance-switcher(href='/game/', data-instance='game')
			i.glyphicon.glyphicon-chevron-left
			| #{' '}Вернуться в бой
		hr
	div.row
		div.col-md-6
			h3 Оружие
			table.table.table-striped.table-hover.table-condensed
				tbody
					+slot('right_hand', 'Правая рука')
					+slot('shield', 'Щит')
			h3 Экипировка
			table.table.table-striped.table-hover.table-condensed
				tbody
					+slot('helmet', 'Голова')
					+slot('', 'Шея')
					+slot('pauldron', 'Плечи')
					+slot('', 'Торс')
					+slot('breastplate', 'Грудь')
					+slot('belt', 'Пояс')
					+slot('vambrace', 'Предплечья')
					+slot('gloves', 'Руки')
					+slot('', 'Ноги')
					+slot('', 'Бёдра')
					+slot('', 'Голени')
					+slot('shoes', 'Обувь')
			h3 Читерская кнопка
			a.pjax.btn.btn-default(href='/ajax/cheatFixAll') Починить всю броню всем игрокам
		div.col-md-6
			h3 Рюкзак
			if backpack.length === 0
				p В рюкзаке ничего нет.
			else
				table.table.table-striped.table-hover
					thead
						tr
							td: b Название
							td: b Тип
							td: b Прочность
							td: b Покрытие тела
							td: b &nbsp;
					tbody
						each item in backpack
							tr
								td #{ item.name }
								td #{ item.type }
								td #{ item.strength }/#{ item.strength_max }
								td #{ item.coverage }%
								td
									a.pjax-replace.btn.btn-default.btn-xs(href='/action/equip/'+item.id) Надеть
			//-p У вас в рюкзаке ничего нет. Это нормально, потому что на этом сервере нет предметов.
			//-p У вас в рюкзаке ничего нет.
			//-Собирайте предметы с убитых монстров, покупайте у торговцев и делайте сами из подручных материалов.
