extends layout
block title
	| Инвентарь
block content
	div.page-header
		h1 Инвентарь
	if fight_mode == true
		a.pjax.btn.btn-default(href='/game/')
			i.glyphicon.glyphicon-chevron-left
			| #{' '}Вернуться в бой
		hr
	div.row
		div.col-md-6
			h3 Экипировка
			if armor.length == 0
				p Нету
				br
			else
				table.table.table-striped.table-hover
					thead
						tr
							td: b Название
							td: b Тип
							td: b Прочность
							td: b Покрытие тела
							td: b Надето?
					tbody
						each item in armor
							tr
								td #{ item.name }
								td #{ item.type }
								td #{ item.strength }/#{ item.strength_max }
								td #{ item.coverage }%
								td #{ item.equipped===true ? 'да':'нет' }#{' '}
									if item.equipped === true
										a.pjax.btn.btn-default.btn-xs(href='/action/unequip/'+item.id) Снять
									else
										a.pjax.btn.btn-default.btn-xs(href='/action/equip/'+item.id) Надеть
			h3 Читерская кнопка
			a.pjax.btn.btn-default(href='/ajax/cheatFixAll') Починить всю броню всем игрокам
		div.col-md-6
			h3 Рюкзак
			p У вас в рюкзаке ничего нет. Это нормально, потому что на этом сервере нет предметов.
			//-p У вас в рюкзаке ничего нет.
			//-Собирайте предметы с убитых монстров, покупайте у торговцев и делайте сами из подручных материалов.
