mixin instanceLink(name, url, text, bold, icon, forceInactive, noIndication)
	- var isActive = (instance === name);
	- if (forceInactive) isActive = false;
	- if (noIndication) isActive = false;
	- var classes = [];
	- if (isActive) classes.push('active');
	- if (!noIndication) classes.push('instance-indicator');
	li.instance-switcher(data-instance=name, class=classes)
		if icon != null
			a.pjax(href=url)
				i.glyphicon(class=icon)
				| #{' '}
				if bold == true
					b #{text}
				else
					| #{text}
		else
			a.pjax(href=url)
				if bold == true
					b #{text}
				else
					| #{text}

if !pjax
	doctype html
	html
		head
			//- metadata
			meta(charset='utf-8')
			meta(http-equiv="X-UA-Compatible", content="IE=edge")
			meta(name='viewport', content='width=device-width, initial-scale=1.0')
			//- New Relic analytics
			!= (!!newrelic) ? newrelic.getBrowserTimingHeader() : ''
			//- and here we go
			title
				block title
			//- easier to inline than to mess with it
			style(type="text/css")
				:stylus
					.button-row
						line-height: 2.8em
			//- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
			//- WARNING: Respond.js doesn't work if you view the page via file://
			<!--[if lt IE 9]>
			script(src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js')
			script(src='https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js')
			<![endif]-->
		body
			div.navbar.navbar-default.navbar-static-top(role='navigation')
				div.container
					div.navbar-header
						button.navbar-toggle(type='button',data-toggle='collapse',data-target='.navbar-collapse')
							span.sr-only Toggle navigation
							span.icon-bar
							span.icon-bar
							span.icon-bar
						a.navbar-brand(href='/') uonline
					div.navbar-collapse.collapse
						ul.nav.navbar-nav
							+instanceLink('about','/about/','Об игре')
						ul.nav.navbar-nav.navbar-right
							if user.loggedIn === true
								//- TODO: выпадайка
								+instanceLink('myprofile', '/profile/', user.username, false, 'glyphicon-'+(user.isAdmin?'certificate':'sunglasses'))
								//+instanceLink('mycharacter', '/character/', character.name, false, 'glyphicon-user')
								li.dropdown.instance-indicator(data-instance='mycharacter', class=(instance=='mycharacter'?'active':''))
									a.dropdown-toggle(href='#', data-toggle='dropdown')
										i.glyphicon.glyphicon-user
										| #{' '}#{character.name}
										b.caret
									ul.dropdown-menu
										li
											a.pjax.instance-switcher(href='/character/', data-instance='mycharacter')
												| Профиль
										li.divider
										li.dropdown-header
											| Переключить персонажа
										each char in characters
											li.disabled
												a(href='/action/switch_character/'+char.id)
													i.glyphicon.glyphicon-menu-right
													| #{' '}#{char.name}
								+instanceLink('game', '/game/', 'Игра', true)
								+instanceLink('inventory', '/inventory/', 'Инвентарь')
								li
									a(href='/action/logout') Выйти
							else
								+instanceLink('login', '/login/', 'Вход', false, 'glyphicon-chevron-right')
								+instanceLink('register', '/register/', 'Регистрация')
			div.container
				div.row
					div.col-md-12#content
						block content
				div.row
					div.col-md-12
						hr
						footer
							p.text-muted &copy; m1kc и К<sup>о</sup>, 2012&ndash;#{ now.getFullYear() }

			//- Styles
			link(href='/static/bower_components/bootstrap/dist/css/bootstrap.min.css', rel='stylesheet')
			link(href='/static/bower_components/bootstrap/dist/css/bootstrap-theme.min.css', rel='stylesheet')
			//- Scripts
			!= cachify_js('/assets/scripts.js')
else
	title
		block title
	block content
