mixin tr_td_ch(name, value)
	tr
		td= name
		if value==0
			td.text-muted= value
		else
			td= value


extends layout
block title
	| #{fetched_monster.name}
block content
	div.page-header
		h1 #{fetched_monster.name}&nbsp;&nbsp;
			small монстр #{fetched_monster.level}-го уровня
	.row
		.col-sm-12
			//- p= description
			p Этот монстр ужасен и крайне опасен.
	.row
		.col-sm-6
			h3 Характеристики
			table.table.table-striped.table-hover
				+tr_td_ch('Здоровье', fetched_monster.health_max)
				+tr_td_ch('Мана', fetched_monster.mana_max)
				+tr_td_ch('Энергия', fetched_monster.energy)
				+tr_td_ch('Сила', fetched_monster.power)
				+tr_td_ch('Защита', fetched_monster.defense)
				+tr_td_ch('Ловкость', fetched_monster.agility)
				+tr_td_ch('Точность', fetched_monster.accuracy)
				+tr_td_ch('Интеллект', fetched_monster.intelligence)
				+tr_td_ch('Инициатива', fetched_monster.initiative)
