mixin personalSign()
	i.text-muted.glyphicon.glyphicon-leaf(title='Это личный параметр, его нельзя увеличить вещами.')

mixin growth(perLevel, perSP)
	small Прирост#{' '}
		b +#{perLevel}
		| #{' '}за уровень,#{' '}
		b +#{perSP}
		| #{' '}за очко навыка.

mixin tr_td_ch(name, value, desc, perLevel, perSP, isPersonal)
	tr
		td
			div #{name}
				if isPersonal === true
					| #{' '}
					+personalSign()
			div.profile-help.text-muted
				small= desc
			div.profile-help.text-muted
				+growth(perLevel, perSP)
		td= value
			//- | #{' '}
			//- a.btn.btn-mini(href='javascript://') &plus;


extends layout
block title
	| Профиль игрока #{username}
block content
	.page-header
		button.pull-right.profile-help-switcher.btn.btn-default
			i.glyphicon.glyphicon-question-sign
			| #{' '}Что означают все эти цифры?
		h1 #{owner.username}&nbsp;&nbsp;
			small орк #{owner.level}-го уровня
				if owner.isMe
					| #{' '}(это&nbsp;вы)
	.row
		- with(owner.character)
			.col-sm-5
				h4 Здоровье#{' '}
					+personalSign()
				div.profile-help.text-muted
					+growth(40, 10)
				.progress
					.progress-bar.progress-bar-success(style='width: '+health_percent+'%;', role="progressbar", aria-valuenow=health_percent, aria-valuemin="0", aria-valuemax="100")
						| #{ health }/#{ health_max }
				h4 Мана#{' '}
					+personalSign()
				div.profile-help.text-muted
					+growth(20, 5)
				.progress
					.progress-bar(style='width: '+mana_percent+'%;', role="progressbar", aria-valuenow=mana_percent, aria-valuemin="0", aria-valuemax="100")
						| #{ mana }/#{ mana_max }
				h4 Опыт
				.progress
					.progress-bar.progress-bar-warning(style='width: '+exp_percent+'%;', role="progressbar", aria-valuenow=exp_percent, aria-valuemin="0", aria-valuemax="100")
						| #{ exp }/#{ exp_max }
			.col-sm-1
			.col-sm-6
				h3 Характеристики
				table.table.table-striped.table-hover
					+tr_td_ch('Сила', power, 'Даёт от 0,8 до 1,2 урона за удар.', 5, 3)
					+tr_td_ch('Защита', defense, 'Поглощает 1 единицу урона за удар.', 5, 3)
					+tr_td_ch('Ловкость', agility, 'Влияет на количество ударов за ход и шанс уворота.', 5, 3)
					+tr_td_ch('Точность', accuracy, 'Влияет на шанс нанести точный удар вне зависимости от шанса уворота противника.', 5, 3)
					+tr_td_ch('Интеллект', intelligence, 'Влияет на скорость регенерации маны.', 5, 3, true)
					+tr_td_ch('Инициатива', initiative, 'Влияет на очерёдность ходов в бою.', 2, 2)
					+tr_td_ch('Энергия', energy, 'Чем выше, тем большее расстояние может пройти персонаж, не уставая.', 10, 5)
