mixin tr_td_ch(name, value)
	tr
		td= name
		td= value
			//- | #{' '}
			//- a.btn.btn-mini(href='javascript://') &plus;

extends layout
block title
	| Профиль игрока #{username}
block content
	.page-header
		h1 #{username}&nbsp;&nbsp;
			small орк #{level}-го уровня
				if profileIsMine
					| #{' '}(это&nbsp;вы)
	.row
		.col-sm-5
			h4 Здоровье
			.progress
				.progress-bar.progress-bar-success(style='width: '+health_percent+'%;', role="progressbar", aria-valuenow=health_percent, aria-valuemin="0", aria-valuemax="100")
					| #{ health }/#{ health_max }
			h4 Мана
			.progress
				.progress-bar(style='width: '+mana_percent+'%;', role="progressbar", aria-valuenow=mana_percent, aria-valuemin="0", aria-valuemax="100")
					| #{ mana }/#{ mana_max }
			h4 Опыт
			.progress
				.progress-bar.progress-bar-warning(style='width: '+exp_percent+'%;', role="progressbar", aria-valuenow=exp_percent, aria-valuemin="0", aria-valuemax="100")
					| #{ exp }/#{ exp_max }
		.col-sm-1
		.col-sm-6
			h3 Характеристики
			table.table.table-striped.table-hover
				+tr_td_ch('Энергия', energy)
				+tr_td_ch('Сила', power)
				+tr_td_ch('Защита', defense)
				+tr_td_ch('Ловкость', agility)
				+tr_td_ch('Точность', accuracy)
				+tr_td_ch('Интеллект', intelligence)
				+tr_td_ch('Инициатива', initiative)
