extends layout
block title
	Регистрация
block content
	.page-header
		h1 Регистрация
	if error === true
		.alert.alert-danger
			a.close(href='#', data-dismiss='alert') &times;
			if loginIsBusy === true
				b Извините! Это имя уже занято.
				| #{' '}Придумайте какое-нибудь другое.
			else
				b Ой! Вы что-то не так ввели.
				| #{' '}Исправьте ошибки и попробуйте ещё раз.
	form.form-horizontal(method='post', action='/register/')
		#username-form-group.form-group.has-feedback(class=((invalidLogin || loginIsBusy)?'has-error':''))
			label.col-sm-2.control-label(for='username') Логин
			.col-sm-3
				input.form-control#username(type='text', name='username', maxlength='32', value=user.username, required, autofocus)
				span#username-feedback.glyphicon.glyphicon-ok.form-control-feedback(style='display: none')
			span.col-sm-7.help-block
				small От 2 до 32 символов, [a-zA-Z0-9а-яА-Я -].
		#password-form-group.form-group.has-feedback(class=(invalidPass?'has-error':''))
			label.col-sm-2.control-label(for='password') Пароль
			.col-sm-3
				.input-group
					input.form-control#password(type='password', name='password', maxlength='32', value=user.password, required)
					a#revealpass.btn.btn-default.input-group-addon(title='Показать пароль')
						i.glyphicon.glyphicon-eye-close
			span.col-sm-7.help-block
				small #{' '}От 4 до 32 символов, [a-zA-Z0-9!@#$%^&amp;*()_+]
		.form-group
			.col-sm-2
			.col-sm-3
				button.btn.btn-default(type='submit') Зарегистрироваться
