extends layout
block title
	Регистрация
block content
	.page-header
		h1 Регистрация
	if error === true
		.alert.alert-danger
			a.close(href='#', data-dismiss='alert') &times;
			if loginIsBusy === true
				b Извините! Это имя уже занято.
				| #{' '}Придумайте какое-нибудь другое.
			else
				b Ой! Вы что-то не так ввели.
				| #{' '}Исправьте ошибки и попробуйте ещё раз.
	form.form-horizontal(method='post', action='/register/')
		#user-form-group.form-group.has-feedback(class=((invalidLogin || loginIsBusy)?'has-error':''))
			label.col-sm-2.control-label(for='user') Логин
			.col-sm-3
				input.form-control#user(type='text', name='user', maxlength='32', value=user, required, autofocus)
				span#username-feedback.glyphicon.glyphicon-ok.form-control-feedback(style='display: none')
			span.col-sm-7.help-block
				small От 2 до 32 символов, [a-zA-Z0-9а-яА-Я -].
		#password-form-group.form-group.has-feedback(class=(invalidPass?'has-error':''))
			label.col-sm-2.control-label(for='pass') Пароль
			.col-sm-3
				.input-group
					input.form-control#pass(type='password', name='pass', maxlength='32', value=pass, required)
					a#revealpass.btn.btn-default.input-group-addon(title='Показать пароль')
						i.glyphicon.glyphicon-eye-close
			span.col-sm-7.help-block
				small #{' '}От 4 до 32 символов, [a-zA-Z0-9!@#$%^&amp;*()_+]
		.form-group
			.col-sm-2
			.col-sm-3
				button.btn.btn-default(type='submit') Зарегистрироваться
	:coffee
		# Reqs
		validation = require './lib/validation.js'
		# Common variables
		usernameField = $('input[name=user]')
		usernameFormGroup = $('#user-form-group')
		usernameFeedback = $('#username-feedback')
		passwordField = $('input[name=pass]')
		passwordFormGroup = $('#password-form-group')
		passwordRevealButton = $('#revealpass')
		passwordRevealIcon = $('#revealpass i')

		usernameStatus = (state, hint) ->
			usernameFormGroup.removeClass 'has-error has-success'
			usernameFeedback.removeClass 'glyphicon-ok glyphicon-remove glyphicon-refresh'
			usernameFeedback.hide()
			# state
			if state is 'checking'
				usernameFeedback.addClass 'glyphicon-refresh'
				usernameFeedback.show()
			if state is 'ok'
				usernameFeedback.addClass 'glyphicon-ok'
				usernameFeedback.show()
				usernameFormGroup.addClass 'has-success'
			if state is 'error'
				usernameFeedback.addClass 'glyphicon-remove'
				usernameFeedback.show()
				usernameFormGroup.addClass 'has-error'
			# hint
			if not hint? then hint = ''
			usernameFeedback.attr('title', hint)


		# Reveal password
		passwordRevealButton.click ->
			passwordField.prop 'type', (if passwordField.prop('type') is 'password' then 'text' else 'password')
			passwordRevealButton.toggleClass 'active'
			passwordRevealIcon.toggleClass 'glyphicon-eye-close glyphicon-eye-open'

		# Validate password
		passwordField.change ->
			if validation.passwordIsValid(passwordField.val())
				passwordFormGroup.removeClass 'has-error'
				passwordFormGroup.addClass 'has-success'
			else
				passwordFormGroup.removeClass 'has-success'
				passwordFormGroup.addClass 'has-error'

		# Validate username
		usernameField.change ->
			if validation.usernameIsValid(usernameField.val())
				usernameStatus 'checking', 'Проверяем, свободен ли логин'
				$.getJSON "/ajax/isNickBusy/#{encodeURIComponent(usernameField.val())}", (data) ->
					if data.nick != usernameField.val()
						usernameStatus 'empty'
						return
					if data.isNickBusy
						usernameStatus 'error', 'Такой логин уже занят'
					else
						usernameStatus 'ok', 'Логин свободен'
			else
				usernameStatus 'error', 'Логин неправильный'
