{% extends "layout.twig" %}

{% block content %}
			<div class="page-header"><h1>{{ area_name }} <small>{{ location_name }}</small></h1></div>

			{% if pic is defined %}<img src="{{ pic }}" style="float: right;" />{% endif %}

			<p>{{ description }}</p>

			<p>
			{% for i in ways %}
				<a class="btn" href="index.php?section=game&to={{ i.to }}">{{ i.name }}</a>
			{% endfor %}
			</p>

			<br />

			<p><small>На этой локации находятся:
			{% for i in players_list %}
				<a href="#{{ i.id }}">{{ i.name }}</a>{% if not loop.last %}, {% endif %}
			{% endfor %}
			</small></p>

			<div style="clear: both;"></div>

			<div>
<pre>
location_name == {{ location_name }}
area_name == {{ area_name }}
pic == {{ pic }}
description == {{ description }}
ways == {{ ways }}
players_list == {{ players_list }}
</pre>
			</div>
{% endblock content %}
