{% extends "layout.twig" %}

{% block title %}Профиль игрока {{ nickname }}{% endblock title %}

{% block content %}
			<div class="page-header"><h1>{{ nickname }} <small>id {{ id }}</small></h1></div>

			<p>role: {{ role }}</p>
			<p>level {{ level }}, exp {{ exp }}/{{ exp_max }}</p>
			<p>power={{ power }}, agility={{ agility }}, endurance={{ endurance }}</p>
			<p>intelligence={{ intelligence }}, wisdom={{ wisdom }}, volition={{ volition }}</p>
			<p>health={{ health }}, health_max={{ health_max }}, health_percent={{ health_percent }}</p>
			<p>mana={{ mana }}, mana_max={{ mana_max }}, mana_percent={{ mana_percent }}</p>
			<p>effects: {{ effects }}</p>
{% endblock content %}
